{% extends '_base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="row">
    <div class="col-12">
    <div class="card">
      <h5 class="card-header">Upload Teachers data</h5>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-12">
                  <label>CSV File</label>
                  <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile" name="file" accept="text/csv" required>
                      <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Profile Picture Zip file <small>(Please upload the zip file containing images with name mentioned in the <a href="{% static 'files/upload_formt.csv' %}" download>csv format</a>)</small></label>
                  <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customZipFile" name="imagezip" accept="zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed">
                      <label class="custom-file-label" for="customZipFile">Choose zip file</label>
                  </div>
                </div>
            </div>
            <button class="btn btn-primary float-right px-5" type="submit">Submit</button>
        </form>
      </div>
    </div></div>
    <div class="row">
    <div class="col-12">
        {% if data %}
            <div class="responsive">
            <table class="table">
            {% with header=data|first %}
                <thead>
                {% for key, value in header.items %}
                    <th>{{ key|replace:"_, "|title }}</th>
                {% endfor %}
                </thead>
            {% endwith %}
            {% for item in data  %}
                <tr {% if item.status == "failed" %}class="table-danger"{% endif %}>
                {% for key, value in item.items %}
                    {% if key == 'subjects' %}
                    <td>{{ value|join:', ' }}</td>
                    {% else %}
                    <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}
